<div class="container">
  <form>
    <div class="row">
      <div class="col-12 mt-3">
        <h1>Novo lançamento</h1>
      </div>
      <div class="col-6 col-md-3">
        <label for="vencimento" class="form-label">Vencimento</label>
        <input pInputText type="text" id="vencimento" class="form-control">
      </div>
      <div class="col-6 col-md-3">
        <label for="recebimento" class="form-label">Recebimento</label>
        <input pInputText type="text" id="recebimento" class="form-control">
      </div>
      <div class="col-12 col-md-9">
        <label for="descricao" class="form-label">Descrição</label>
        <input pInputText type="text" id="descricao" class="form-control">
      </div>
      <div class="col-12 col-md-3">
        <label for="valor" class="form-label">Valor</label>
        <input pInputText type="text" id="valor" class="form-control" placeholder="R$0,0">
      </div>
      <div class="col-12 col-md-6">
        <label for="categoria" class="form-label">Categoria</label>
        <input pInputText type="text" id="categoria" class="form-control">
      </div>
      <div class="col-12 col-md-6">
        <label for="pessoa" class="form-label">Pessoa</label>
        <input pInputText type="text" id="pessoa" class="form-control">
      </div>
      <div class="col-md-12">
        <label for="observacao" class="form-label">Observação</label>
        <textarea pInputTextarea type="text" id="observacao" class="form-control" rows="3"></textarea>
      </div>
      <div class="ui-g-12 mt-4 mb-4">
        <button type="submit" class="btn btn-primary col-xl-1 col-md-2 col-3">Salvar</button>
        <button type="button" class="btn btn-secondary col-xl-1 col-md-2 col-3" style="background-color: #3985f89c;">Novo</button>
        <a href="/lancamentos-cadastro">Voltar à pesquisa</a>
      </div>
    </div>
  </form>
</div>
