button{
  margin-right: 20px;
  font-weight: bold;
  color: white;
  background-color: #0d6efd;
  border: none;
  text-align: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #0d6efd;
}
a:hover{
  color:  #3985f89c;
}
label{
  font-weight: 600;
}
::ng-deep .col-4 label,
::ng-deep .col-4 p-inputNumber {
  display: flex;
  flex-direction: column;
}
::ng-deep .p-inputnumber{
  width: 100%;
}
::ng-deep .p-inputnumber .p-inputtext {
  width: 100%;
  height: 38px;
}
::ng-deep .p-inputmask {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

::ng-deep .p-inputmask input {
  height: 38px;
  width: 100%;
  box-sizing: border-box;
}
::ng-deep .p-inputmask:focus {
  outline: none;
  box-shadow: none;
}
::ng-deep .p-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  border: none;
  outline: none;
}
::ng-deep .p-button-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 80px;
}
::ng-deep .p-button:focus {
  outline: none;
  box-shadow: none;
}
::ng-deep .p-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38px;
}
::ng-deep .p-dropdown ul{
  padding: 0;
}
